.card-largura{
    max-width: 18rem;
    height: 30px;
    width: 20px;
}

.imagem-carrossel-um{
    object-fit: cover;
    object-position: 0 90%;
    height:400px;
}
.fonte{
    font-family: "Roboto", sans-serif;
    height: 60px;
}
.cor-especial{
    color: #80754f;
}
.borda-cor-especial{
    border-color:black;
    height: 190px;

}
.card-posicao-imagem{
    object-fit: cover;
    object-position: 0 80%;
    height: 180px;
}
.table-borda{
    border-collapse: collapse;
}
.font-second{

    color: orangered;
    font-family:"Puppies Play", cursive;
}
.card-venda{
    width: auto;
    height:100%;
}
