.card-largura{
    max-width: 18rem;
    height: 30px;
    width: 20px;
}

.imagem-carrossel-um{
    object-fit: cover;
    object-position: 0 90%;
    height:400px;
}
.fonte{
    font-family: "Roboto", sans-serif;
    height: 40px;


}
.cor-especial{
    color: #80754f;
}
.borda-cor-especial{
    border-color:black;
    height: 190px;

}
.card-posicao-imagem{
    object-fit: cover;
    object-position: 0 80%;
    height: 180px;
}
.table-borda{
    border-collapse: collapse;
}
.font-second{

    color: black;
    font-family:"Puppies Play", cursive;
}
.card-venda{
    width: auto;
    height:100%;
}
.popup {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 25%;
    margin: auto;
    width: 200px;
    height: 320px;
    padding: 5px;
    display: none;
    z-index: 10;
}
.img-teste{

    width: 200px;
    height: 800px;
    object-fit: scale-down;
}